PORT=3000
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5450
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=link_da_turma

JWT_SECRET=your-super-secret-key-change-in-production
